/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "M PLUS 1p", メイリオ, Meiryo, sans-serif, 游ゴシック, "Yu Gothic", YuGothic;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/* ここからCSSを書いていきましょう */
/*ここからヘッダー*/
header {
  background-color: #FFF5EE;
}
.container-wrapper {
  width: 1663px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #FFF5EE;
}
.container {
  margin:0 auto;
  width: 76%;
}
.header-top {
  padding-top:10px;
  text-align: center;
}
.header-text {
  font-size: 1.1rem;
  font-weight: normal;
  color:#999999;
}
.header-img {
  width: 150px;
  }

.header-btn li{
  margin-top: 20px;
  display: inline-block;
  background-color: #FFD9BC;
  width: 24.6%;
  text-align: center;
  font-weight: bold;
  font-size:15px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}
/*ここからヘッダーメイン部分*/
.container-wrapper {
  background-color: #FFF5EE;
}
.container-main {
  margin:0 auto;
  width: 65%;
  padding-top:90px;
  padding-left: 20px;
  padding-right: 20px;
  color: #540000;
}

.under {
  font-size: 5rem;
  position: relative;
}
/* 長靴型のキャプチャ */
.img-right {
  position: absolute;
  right: 300px;
  top: 190px;
}
/* バックオフィスの課題を一気に解決 */
.text-left h1 {
  font-size: 5rem;
}
.font-small {
  font-size: 3.5rem;
}
/* バックオフィスの課題を一気に解決の下のピンク色の線 */
.under {
  background: linear-gradient(transparent 80%, #ff999f 70%);
}
/* 労務・経理などの業務設計から運用までおまかせ */
.text-romu {
  font-size: 2.0rem;
  padding-top: 30px;
}
/* バックオフィスで悩んでいること、すべてBrownies Worksが解決します。プロによる業務設計と運用で、バックオフィスをもっと楽に、もっと有意義に。 */
.text-bk {
  font-size: 2.0rem;
  padding-top: 30px;
  margin-bottom: 10px;
  line-height: 35px;
  color: black;
}
/* お問い合わせ・申し込み */
.inq_req p{
  display: inline-block;
  padding:10px 5px;
  color: #fff;
  border-radius:20px;
  font-weight: bold;
}
.inquiry {
  background-color: #62423B;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 50px;
}
.request {
  background-color: #DC3C3C;
  display: inline-block;
}
.inq_req {
  text-align: center;
  padding-top: 110px;
}
/* ミッション */
.container-mission {
  text-align: center;
}
.icontainer-mission img {
  display: inlineblock;
}

.container-mission h1{
  margin-bottom: 50px;
}

/* 問題 */
/* .container-problems {
  text-align: center;
}

.problem { */
  /* display: inline-block; */
  /* padding: 40px 90px;
  margin: 60px 0;
  background-color: #fff;
  font-size: 15px;
}
.problem {
  flex-direction: column;
}
.order2 {
  width: 594px;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 70px;
  padding: 0 30px;
  background-color: red;
}
.order4 {
  width: 594px;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 70px;
  padding: 0 30px;
  background-color: red;
}
.order6 {
  width: 594px;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 70px;
  padding: 0 30px;
  background-color: red;
}

img {
  margin-right: 40px;
}
.problem{
 display: flex;
}

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 4;
}

.order4 {
  order: 3;
}

.order5 {
  order: 5;
}

.order6 {
  order: 6;
} */
/* 構築 */
.rebuilding {
  background-color: #fff;
  width: 63%;
  height: auto;
  border-radius: 15px;
  border: solid 3px #62423B;
  text-align: center;
  margin: 0 auto;
  padding:50px 15px;
}
.rebuilding img {
  width:60%;
  height: auto;
}
.rebuilding-text_a {
  color: #62423B;
  padding-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.rebuilding-text_b {
  color: #62423B;
  font-size: 16px;
  line-height: 30px;
  padding:20px 30px;
  text-align: left;
}
.more {
  margin-top: 80px;
}

/* お片付け */
.putaway img {
  margin: 0 auto;
}
.putaway {
  width: 100%;
}
.putaway-title-top {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 0; */
  padding: 20px 30px;
  /* min-width: 120px; */
  max-width: 100%;
  color: #555;
  font-size: 12px;
  background: #FFF;
  border: solid 5px #62423B;
  box-sizing: border-box;
  width: 40%;
  border-radius: 8px;
  margin: auto;
  top: 20px;
  left: 500px;
}

.putaway-title-top:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}

.putaway-title-top:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #555;
  z-index: 1;
}

.putaway-title-top p {
  /* margin: 0;
  padding: 0; */
}
.putaway-title {
  color: #62423B;
  font-size: 2rem;
}
